Firebase e Chaves de Segurança (CRÍTICO)

Impede que a sua chave mestra seja enviada para o GitHub

serviceAccountKey.json
*.json
!requirements.txt

Python e Ambientes Virtuais

pycache/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

Configurações de Editor e Sistema

.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db